*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
        background-color:black;
    }   
    
    header h1{
            color:aqua;
            font-size: 60px;
            font-style: oblique;
            font-weight: 200;
            text-align: center;
        }

    header nav ul li {
        list-style: none;
    }

    .menu_bar{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        padding: 50px;
        gap: 1rem;
 }
 .menu_bar{
    color: aqua;
    transition: all 3s ease-in;
}
    
    header nav ul li a{
            text-decoration: solid;
            color:aqua;
            font-style: obliqueS;
            font-size: 20px;
             margin: 3%;
     }
     .hero h2{   
        text-decoration: solid; 
        color:aqua;
        font-style: oblique;
        font-size: 45px;
        text-align: center;
    
 }

.menu_bar{
    color: aqua;
    transition: all 3s ease-in;
}






.flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px;
    
 }
 .img-1:hover {
    background-color: aqua;
    box-shadow: inset;
    transition: all 3s ease-in;
}
   
 .img-2:hover {
    background-color: aqua;
    box-shadow: inset;
    transition: all 3s ease-in;
}

 .img-3:hover {
    background-color: aqua;
    box-shadow: inset;
    transition: all 3s ease-in;
}

   .img-4:hover {
    background-color: aqua;
    box-shadow: inset;
    transition: all 3s ease-in;
}
   
   


 .img-1{
    overflow: hidden;
    border-radius: 15px;
    text-decoration: solid;
    background-color: darkgrey;
    padding: 10px;
    
}
    
.img-2{
    overflow: hidden;
    border-radius: 15px;
    text-decoration: solid;
    background-color: darkgrey;
    padding: 10px;
    
    
}
    

.img-3{
  overflow: hidden;
 border-radius: 15px;   
 text-decoration: solid;
 background-color: darkgrey;
padding: 10px;      
}
        
  .img-4{
    overflow: hidden;
    border-radius: 15px;
    text-decoration: solid;
    background-color: darkgrey;
    padding: 10px;
}

@media screen and (max-width: 950px){
    .header{        
      flex-direction: column;
    }
       }
    

 @media screen and (max-width: 950px){
    .hero div p{        
      flex-direction: column;
    }
       }
    

   @media screen and (max-width: 750px) {
        .menu_bar{
        flex-direction: column;
        }
       }
    
   @media screen and (max-width: 950px){
       .flex-container{
        flex-direction: column;
        }
        }
    
  @media screen and (max-width: 750px){
    .piedepagina{
        flex-direction: column;
            }
            }
        
   @media screen and (max-width: 750px){
     .logoss{
      flex-direction: column;
                }
              }
            




.piedepagina{
    background-color: black;
    height: max-content;
    margin: 0px;
    }
    



 h1{
    color:aqua;
    font-size: 60px;
    font-style: oblique;
    text-align: center;

}
h4{
    color:beige;
    font-size:30px;
    font-style: oblique;
    text-align:center;
    padding: 10px;
  
  }
  
   p{
    display:flex;
    justify-content:flex-start;
    color:beige;
    font-size:large;
    font-style: oblique;
    text-align: start;
    margin: 5px;
   
  }

.logoss{
    display: flex;
    flex-direction: row;
  }

  h2{

    justify-content:flex-end;
    color:beige;
    font-size: 20px;
    font-style: oblique;
    text-align:center;
 
 }
 
  .logo-1{
    margin:5%;
    width: 10%;
    height: 10%;
 
 }
 .logo-2{
     margin:5%;
     width: 10%;
     height: 10%;
  
  } 





