
/*-------footer-----*/

.piedepagina{
    background-color: black;
    width: 100%;
     margin: 0px;
   h1{
    color:aqua;
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    padding: 50px;
 h4{
     color:beige;
     font-size: 60px;
     font-style: oblique;
     text-align:center;
     padding: 50px;
  p{
     display:flex;
    justify-content:flex-start;
    color:beige;
     font-size: 20px;
     font-style: oblique;
     text-align: start; 
     margin: 5px;
 .logoss{
     display: flex;
     flex-direction: row;
    
 h2{
      justify-content:flex-end;
        color:beige;
        font-size: 60px;
        font-style: oblique;
        text-align:center;
    
   .logo-1{
          margin:5%;
          width: 10%;
          height: 10%;
        
    .logo-2{
      margin:5%;
      width: 10%;
      height: 10%;
                              }
                            }
         
                           } 
                         }  
             
                       }         
             
                      }
        
                  }

    }
 


